@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html{
    font-size: 62.5%;
    overflow-x:hidden;
}
 
body{
    background: var(--bg-color);
    color: var(--text-color);
}

/* Global Styles */
h1 {
    margin-bottom: 0.5rem; 
    font-size: 5.6rem; /* Adjust size as needed */
    font-weight: 700;
    line-height: 1.7;
    color: var(--text-color); /* If you want the text color to be consistent too */
}

h2 {
    margin-top: 0.5rem;
    font-size: 3.5rem; /* Adjust size as needed */
    font-weight: 600;
    margin: 1rem 0; /* Provide some spacing around headings */
    color: var(--text-color);
}

h3 {
    font-size: 2.5rem; /* Adjust size as needed */
    font-weight: 500;
    margin: 0.5rem 0; /* Provide some spacing around headings */
    color: var(--text-color);
}

ul {
    list-style-type: none; /* Removes default list styling */
    padding: 0;
    font-size: 1.8rem; /* Adjust size as needed */
    color: var(--text-color);
}

ul li {
    margin-bottom: 0.5rem; /* Spacing between list items */
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.header.sticky {
    background: var(--bg-color);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;

}

.navbar {
    padding: 1rem 0%; 
    margin-left: 0; 
    background: transparent; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: 0.3s;
}

.navbar a{
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 3.5rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main-color);
}

.nav-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 3.2rem;
}

.nav-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    height: 40px;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;

}

.nav-box .btn:hover {
    color: var(--main-color);

}

.nav-box .btn::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s

}

.nav-box .btn:hover::before {
    width: 100%;
}


#menu-icon{ 

    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display:none;

}


section {
    min-height: 40vh;
    padding: 10rem 9% 2rem;
}

.btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 34.5rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 15rem;
    height: 100%;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;

}

.btn-box .btn:hover {
    color: var(--main-color);

}

.btn-box .btn::before {

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: 0.5s

}

.btn-box .btn:hover::before {
    width: 100%;
}

span {
    color: var(--main-color);
}


.btn-box.btns {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}


.portfolio {
    padding-bottom: 10rem;
}

.portfolio-main h1 {
    margin-bottom: 0.05rem; /* Adjust the bottom margin of h1 */
    line-height: 1.2;
}

.portfolio-main h2 {
    margin-top: 0.05rem; /* Adjust the top margin of h2 */
    line-height: 1.2;
}

.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: 0.5s ease;
}

.portfolio-box img:hover {
    transform: scale(1.4);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.101), var(--main-color));
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: 0.5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 2.5rem;
    color: white; 
    background-color: black; 
    padding: 0.5rem;
}

.portfolio-layer p {
    font-size: 1.4rem;
    margin: 0.3rem 0 1rem;
    color: white; 
    background-color: black; 
    padding: 0.2rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--bg-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: #f6f3f3;
}

/* Specific Styles for Dashboard and Graphs */
/* Centering the main portfolio title */

.dashboard > h1 {
    text-align: center;
}


/* Adjusting dashboard sections */
.dashboard-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px; /* Space between columns */
    text-align: center; /* Center text within each section */
    padding-bottom: 0rem;
}

.dashboard-container h2 {
    font-size: 2.7rem; /* Adjust the font size as needed */
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Ensures that the text doesn't overflow the container */
    text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
    margin-bottom: 1rem; /* Adjust spacing below the heading */
    text-align: center; /* Center-align text within each section */
}

.dashboard-container ul {
    list-style-type: disc; /* Enables bullet points */
    margin-left: 2rem; /* Adjust as needed for proper indentation */
    text-align: left; /* Ensures the text is left-aligned */
}

.dashboard-container li {
    font-size: 1.6rem; /* Adjust the font size as needed */
    color: var(--text-color); /* Adjust the text color as needed */
    margin-bottom: 0.5rem; /* Spacing between list items */
}

.dashboard-container .investment-philosophy,
.dashboard-container .investment-process,
.dashboard-container .investment-objectives {
    /* Add specific styles for these sections */
    padding: 5rem 9% 0rem; /* Example: Adjusting padding */
}

/* Targeting ul within investment-process specifically */
.dashboard-container .investment-process ul {
    list-style-type: disc !important;
    padding-left: 20px !important;
}

.dashboard-container .investment-process li {
    text-align: left !important;
    margin-bottom: 10px !important;
}

/* Style adjustments for each dashboard section */
.dashboard-section {
    /* Optional additional styles for each section */
    padding: 1rem; /* Add padding for spacing */
}

/* Responsive Design: Adjust for smaller screens */
@media (max-width: 768px) {
    .dashboard-container {
        grid-template-columns: 1fr; /* Stack sections on smaller screens */
    }
}

.graphs-wrapper {
    padding: 2rem 9% 2rem; /* Adjust the padding as needed */
}

.graphs-container {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center-align the children */
    margin-top: 0.25rem;
    padding-top: 0;
}

/* Individual graph styling */
.graph {
    width: 80%; /* Sets the width to 80% of its container */
    max-width: 600px; /* Adjust this value to set the maximum size */
    margin: 20px 0; /* Adds space above and below each graph */
    text-align: center;
}

.graph h3 {
    font-size: 3rem; /* Sets the font size to 3 rem */
    margin-bottom: 10px; /* Adds a little space between the title and the image */
    text-align: center; /* Center-align the text */
}

.graph img {
    width: 100%; /* Image will fill the container */
    height: auto; /* Maintain aspect ratio */
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .graphs-container {
        flex-direction: column; /* Stacks graphs on top of each other */
    }
    
    .graph {
        min-width: 100%; /* Full width for each graph */
        margin-bottom: 2rem; /* Adds space between stacked graphs */
    }
    
    .dashboard-section {
        /* Optional: Adjust the text alignment for smaller screens if needed */
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);
}

.footer-text p {
    font-size: 1.6rem;
}

.footer-text a {
    color: var(--main-color);
}

.footer-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    z-index: 1;
}

.footer-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
}

.footer-iconTop a:hover::before {
    width: 100%;
}


.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: 0.5s;
}

.footer-iconTop a:hover i {
    color: var(--main-color);
}

.footerNote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--second-bg-color);
}

.footerNote-text p {
    font-size: 1.6rem;
}

.footerNote-text a {
    color: var(--main-color);
}

.footerNote-iconTop a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    background: var(--main-color);
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    z-index: 1;
}

.footerNote-iconTop a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: 0.5s;
}

.footerNote-iconTop a:hover::before {
    width: 100%;
}


.footerNote-iconTop a i {
    font-size: 2.4rem;
    color: var(--bg-color);
    transition: 0.5s;
}

.footerNote-iconTop a:hover i {
    color: var(--main-color);
}

